anfshowback.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "Logic App Name": {
            "defaultValue": "ANFShowBack",
            "type": "String"
        },
        "Location": {
            "defaultValue": "[resourceGroup().location]",
            "type": "String"
        },
        "UTC Offset": {
            "defaultValue": "-4",
            "type": "String"
        },
        "Storage Account": {
            "defaultvalue": "",
            "type": "String"
        },
        "Storage Account Access Key": {
            "defaultvalue": "",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "location": "[parameters('Location')]",
            "name": "ANFSBTableConnection",
            "properties": {
                "api": {
                    "id": "[concat('subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('Location'), '/managedApis/azuretables')]"
                },
                "displayName": "ANFSBTableConnection",
                "parameterValues": {
                    "storageaccount": "[parameters('Storage Account')]",
                    "sharedkey": "[parameters('Storage Account Access Key')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('Logic App Name')]",
            "location": "[parameters('Location')]",
            "identity": {
                "principalId": "",
                "tenantId": "",
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "20"
                                    ],
                                    "minutes": [
                                        30
                                    ]
                                },
                                "timeZone": "Eastern Standard Time"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Create_Monthly_Table": {
                            "runAfter": {
                                "Create_daily_log_table_for_current_month": [
                                    "Succeeded",
                                    "Failed",
                                    "TimedOut",
                                    "Skipped"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@variables('MonthTableName')",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ANFSBTableConnection']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Tables"
                            }
                        },
                        "Create_daily_log_table_for_current_month": {
                            "runAfter": {
                                "Set_MonthTableName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@{variables('MonthTableName')}DailyLog",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ANFSBTableConnection']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Tables"
                            }
                        },
                        "For_each_Subscription": {
                            "foreach": "@body('Parse_Subscriptions')?['value']",
                            "actions": {
                                "For_each_volume_in_Sub": {
                                    "foreach": "@body('Parse_returned_volumes_in_Sub')?['value']",
                                    "actions": {
                                        "Check_if_volume_is_not_in_a_failed_state": {
                                            "actions": {
                                                "For_tag_in_tags": {
                                                    "foreach": "@split(variables('TagObject'),',')",
                                                    "actions": {
                                                        "Add_tags_to_daily_log_table_entry": {
                                                            "runAfter": {},
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": {
                                                                    "@{split(items('For_tag_in_tags'),':')[0]}": "@{split(items('For_tag_in_tags'),':')[1]}"
                                                                },
                                                                "headers": {
                                                                    "If-Match": "*"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['ANFSBTableConnection']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "patch",
                                                                "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('MonthTableName'),'DailyLog')}/entities/etag(PartitionKey='@{encodeURIComponent('1')}',RowKey='@{encodeURIComponent(concat(variables('LocalTime'), body('Parse_Single_Volume')?['properties']?['fileSystemId']))}')"
                                                            }
                                                        },
                                                        "Merge_Entity_(V2)": {
                                                            "runAfter": {
                                                                "Add_tags_to_daily_log_table_entry": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": {
                                                                    "@{split(items('For_tag_in_tags'),':')[0]}": "@{split(items('For_tag_in_tags'),':')[1]}"
                                                                },
                                                                "headers": {
                                                                    "If-Match": "*"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['ANFSBTableConnection']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "patch",
                                                                "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('MonthTableName'))}/entities/etag(PartitionKey='@{encodeURIComponent('1')}',RowKey='@{encodeURIComponent(concat(split(body('Parse_Single_Volume')?['name'],'/')[2],body('Parse_Single_Volume')?['properties']?['fileSystemId']))}')"
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Get_tags_convert_to_string": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Foreach"
                                                },
                                                "Get_service_level": {
                                                    "runAfter": {},
                                                    "cases": {
                                                        "set_Premium_cost": {
                                                            "case": "Premium",
                                                            "actions": {
                                                                "set_volume_cost_to_premium": {
                                                                    "runAfter": {},
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "VolumeCost",
                                                                        "value": "@mul(div(body('Parse_Single_Volume')?['properties']?['usageThreshold'],1073741824),variables('PremiumDaily'))"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "set_Standard_cost": {
                                                            "case": "Standard",
                                                            "actions": {
                                                                "set_volume_cost_to_standard": {
                                                                    "runAfter": {},
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "VolumeCost",
                                                                        "value": "@mul(div(body('Parse_Single_Volume')?['properties']?['usageThreshold'],1073741824),variables('StandardDaily'))"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "set_Ultra_cost": {
                                                            "case": "Ultra",
                                                            "actions": {
                                                                "set_volume_cost_to_ultra": {
                                                                    "runAfter": {},
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "VolumeCost",
                                                                        "value": "@mul(div(body('Parse_Single_Volume')?['properties']?['usageThreshold'],1073741824),variables('UltraDaily'))"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "default": {
                                                        "actions": {}
                                                    },
                                                    "expression": "@body('Parse_Single_Volume')?['properties']?['serviceLevel']",
                                                    "type": "Switch"
                                                },
                                                "Get_table_entry_for_volume": {
                                                    "runAfter": {
                                                        "Insert_volume_in_daily_log_table": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['ANFSBTableConnection']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('ANF202305')}/entities(PartitionKey='@{encodeURIComponent('1')}',RowKey='@{encodeURIComponent(concat(split(body('Parse_Single_Volume')?['name'],'/')[2],body('Parse_Single_Volume')?['properties']?['fileSystemId']))}')"
                                                    }
                                                },
                                                "Get_tags_convert_to_string": {
                                                    "runAfter": {
                                                        "Reset_PreviousVolumeCost": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "TagObject",
                                                        "value": "@{replace(replace(replace(string(body('Parse_Single_Volume')?['tags']),'{',''),'}',''),'\"','')}"
                                                    }
                                                },
                                                "Insert_or_replace_volume_running_cost_entry": {
                                                    "runAfter": {
                                                        "Test_if_entry_exists_in_month_table": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "CapacityPool": "@{split(body('Parse_Single_Volume')?['name'], '/')[1]}",
                                                            "LastDate": "@{split(addHours(utcNow(), int(variables('UTCOffset'))), 'T')[0]}",
                                                            "LatestSize": "@int(body('Parse_Single_Volume')?['properties']?['usageThreshold'])",
                                                            "Location": "@{body('Parse_Single_Volume')?['location']}",
                                                            "NetAppAccount": "@{split(body('Parse_Single_Volume')?['name'], '/')[0]}",
                                                            "PartitionKey": "1",
                                                            "ResourceGroup": "@{split(body('Parse_Single_Volume')?['id'], '/')[4]}",
                                                            "RunningCost": "@add(variables('VolumeCost'), variables('PreviousVolumeCost'))",
                                                            "ServiceLevel": "@{body('Parse_Single_Volume')?['properties']?['serviceLevel']}",
                                                            "VolumeID": "@{body('Parse_Single_Volume')?['properties']?['fileSystemId']}",
                                                            "VolumeName": "@{split(body('Parse_Single_Volume')?['name'],'/')[2]}"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['ANFSBTableConnection']['connectionId']"
                                                            }
                                                        },
                                                        "method": "put",
                                                        "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('MonthTableName'))}/entities(PartitionKey='@{encodeURIComponent('1')}',RowKey='@{encodeURIComponent(concat(split(body('Parse_Single_Volume')?['name'],'/')[2],body('Parse_Single_Volume')?['properties']?['fileSystemId']))}')"
                                                    }
                                                },
                                                "Insert_volume_in_daily_log_table": {
                                                    "runAfter": {
                                                        "Get_service_level": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "CapacityPool": "@{split(body('Parse_Single_Volume')?['name'], '/')[1]}",
                                                            "DailyCost": "@variables('VolumeCost')",
                                                            "Date": "@{split(addHours(utcNow(), int(variables('UTCOffset'))), 'T')[0]}",
                                                            "Location": "@{body('Parse_Single_Volume')?['location']}",
                                                            "NetAppAccount": "@{split(body('Parse_Single_Volume')?['name'], '/')[0]}",
                                                            "PartitionKey": "1",
                                                            "ResourceGroup": "@{split(body('Parse_Single_Volume')?['id'], '/')[4]}",
                                                            "RowKey": "@{concat(variables('LocalTime'), body('Parse_Single_Volume')?['properties']?['fileSystemId'])}",
                                                            "ServiceLevel": "@{body('Parse_Single_Volume')?['properties']?['serviceLevel']}",
                                                            "Size": "@int(body('Parse_Single_Volume')?['properties']?['usageThreshold'])",
                                                            "VolumeID": "@{body('Parse_Single_Volume')?['properties']?['fileSystemId']}",
                                                            "VolumeName": "@{split(body('Parse_Single_Volume')?['name'], '/')[2]}"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['ANFSBTableConnection']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('MonthTableName'),'DailyLog')}/entities"
                                                    }
                                                },
                                                "Parse_table_entry_for_volume": {
                                                    "runAfter": {
                                                        "Get_table_entry_for_volume": [
                                                            "Succeeded",
                                                            "Failed"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('Get_table_entry_for_volume')",
                                                        "schema": {
                                                            "properties": {
                                                                "CapacityPool": {
                                                                    "type": "string"
                                                                },
                                                                "Consumed": {
                                                                    "type": "string"
                                                                },
                                                                "Creator": {
                                                                    "type": "string"
                                                                },
                                                                "LastDate": {
                                                                    "type": "string"
                                                                },
                                                                "LatestSize": {
                                                                    "type": "integer"
                                                                },
                                                                "Location": {
                                                                    "type": "string"
                                                                },
                                                                "NetAppAccount": {
                                                                    "type": "string"
                                                                },
                                                                "Owner": {
                                                                    "type": "string"
                                                                },
                                                                "PartitionKey": {
                                                                    "type": "string"
                                                                },
                                                                "ResourceGroup": {
                                                                    "type": "string"
                                                                },
                                                                "RowKey": {
                                                                    "type": "string"
                                                                },
                                                                "RunningCost": {
                                                                    "type": "number"
                                                                },
                                                                "ServiceLevel": {
                                                                    "type": "string"
                                                                },
                                                                "Timestamp": {
                                                                    "type": "string"
                                                                },
                                                                "VolumeID": {
                                                                    "type": "string"
                                                                },
                                                                "VolumeName": {
                                                                    "type": "string"
                                                                },
                                                                "odata.etag": {
                                                                    "type": "string"
                                                                },
                                                                "odata.metadata": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Reset_PreviousVolumeCost": {
                                                    "runAfter": {
                                                        "Insert_or_replace_volume_running_cost_entry": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "PreviousVolumeCost",
                                                        "value": 0
                                                    }
                                                },
                                                "Test_if_entry_exists_in_month_table": {
                                                    "actions": {
                                                        "Set_previous_volume_cost_to_zero": {
                                                            "runAfter": {},
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "PreviousVolumeCost",
                                                                "value": 0
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Parse_table_entry_for_volume": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "else": {
                                                        "actions": {
                                                            "Set_previous_volume_cost": {
                                                                "runAfter": {},
                                                                "type": "SetVariable",
                                                                "inputs": {
                                                                    "name": "PreviousVolumeCost",
                                                                    "value": "@float(body('Parse_table_entry_for_volume')?['RunningCost'])"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "equals": [
                                                                    "@body('Parse_table_entry_for_volume')?['RunningCost']",
                                                                    "@null"
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            },
                                            "runAfter": {
                                                "Parse_Single_Volume": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "",
                                                                "Failed"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Get_volume_details": {
                                            "runAfter": {
                                                "parse_volume_id": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "method": "GET",
                                                "uri": "https://management.azure.com/@{body('parse_volume_id')?['id']}?api-version=2022-11-01"
                                            }
                                        },
                                        "Parse_Single_Volume": {
                                            "runAfter": {
                                                "Get_volume_details": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('Get_volume_details')",
                                                "schema": {
                                                    "properties": {
                                                        "etag": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "location": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "avsDataStore": {
                                                                    "type": "string"
                                                                },
                                                                "coolAccess": {
                                                                    "type": "boolean"
                                                                },
                                                                "creationToken": {
                                                                    "type": "string"
                                                                },
                                                                "fileSystemId": {
                                                                    "type": "string"
                                                                },
                                                                "isLargeVolume": {
                                                                    "type": "boolean"
                                                                },
                                                                "networkFeatures": {
                                                                    "type": "string"
                                                                },
                                                                "provisioningState": {
                                                                    "type": "string"
                                                                },
                                                                "serviceLevel": {
                                                                    "type": "string"
                                                                },
                                                                "usageThreshold": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "tags": {
                                                            "properties": {},
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "parse_volume_id": {
                                            "runAfter": {},
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@items('For_each_volume_in_Sub')",
                                                "schema": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_returned_volumes_in_Sub": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Get_all_ANF_volumes_in_Sub": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "https://management.azure.com/subscriptions/@{items('For_each_Subscription')?['subscriptionId']}/resources?$filter=resourceType eq 'Microsoft.NetApp/netAppAccounts/capacityPools/volumes'&api-version=2021-04-01"
                                    }
                                },
                                "Parse_returned_volumes_in_Sub": {
                                    "runAfter": {
                                        "Get_all_ANF_volumes_in_Sub": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_all_ANF_volumes_in_Sub')",
                                        "schema": {
                                            "properties": {
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_Subscriptions": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_DayOfMonth": {
                            "runAfter": {
                                "Set_SubID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DayOfMonth",
                                        "type": "string",
                                        "value": "@{startOfDay(variables('LocalTime'))}"
                                    }
                                ]
                            }
                        },
                        "Get_LastDayOfMonth": {
                            "runAfter": {
                                "Get_DayOfMonth": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "LastDayOfMonth",
                                        "type": "string",
                                        "value": "@{subtractfromtime(startofmonth(addToTime(variables('LocalTime'), 1, 'Month')), 1, 'Day')}"
                                    }
                                ]
                            }
                        },
                        "Get_Subscriptions": {
                            "runAfter": {
                                "Create_Monthly_Table": [
                                    "Succeeded",
                                    "TimedOut",
                                    "Skipped",
                                    "Failed"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/subscriptions/?api-version=2020-05-01"
                            }
                        },
                        "Get_Volume_List_from_Table": {
                            "runAfter": {
                                "For_each_Subscription": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ANFSBTableConnection']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Tables/@{encodeURIComponent(variables('MonthTableName'))}/entities"
                            }
                        },
                        "Get_Workflow_Properties": {
                            "runAfter": {
                                "UltraDaily_(do_not_edit)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "workflowproperties",
                                        "type": "object",
                                        "value": "@workflow()"
                                    }
                                ]
                            }
                        },
                        "Initialize_PreviousVolumeCost_Variable_(do_not_edit)": {
                            "runAfter": {
                                "Initialize_VolumeCost_Variable_(do_not_edit)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "PreviousVolumeCost",
                                        "type": "float"
                                    }
                                ]
                            }
                        },
                        "Initialize_VolumeCost_Variable_(do_not_edit)": {
                            "runAfter": {
                                "Set_LocalTime_(do_not_edit)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "VolumeCost",
                                        "type": "float"
                                    }
                                ]
                            }
                        },
                        "Initialize_tag_object": {
                            "runAfter": {
                                "Initialize_PreviousVolumeCost_Variable_(do_not_edit)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "TagObject",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Parse_Subscriptions": {
                            "runAfter": {
                                "Get_Subscriptions": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get_Subscriptions')",
                                "schema": {
                                    "properties": {
                                        "count": {
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "authorizationSource": {
                                                        "type": "string"
                                                    },
                                                    "displayName": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "managedByTenants": {
                                                        "type": "array"
                                                    },
                                                    "state": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionId": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionPolicies": {
                                                        "properties": {
                                                            "locationPlacementId": {
                                                                "type": "string"
                                                            },
                                                            "quotaId": {
                                                                "type": "string"
                                                            },
                                                            "spendingLimit": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "tags": {
                                                        "properties": {
                                                            "product_line": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "tenantId": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "authorizationSource",
                                                    "managedByTenants",
                                                    "tags",
                                                    "subscriptionId",
                                                    "tenantId",
                                                    "displayName",
                                                    "state",
                                                    "subscriptionPolicies"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Parse_Workflow_Properties": {
                            "runAfter": {
                                "Get_Workflow_Properties": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@variables('workflowproperties')",
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "location": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "run": {
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "PremiumDaily_(do_not_edit)": {
                            "runAfter": {
                                "StandardDaily_(do_not_edit)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "PremiumDaily",
                                        "type": "float",
                                        "value": "@mul(variables('PremiumHourly'),24)"
                                    }
                                ]
                            }
                        },
                        "PremiumHourly": {
                            "runAfter": {
                                "StandardHourly": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "PremiumHourly",
                                        "type": "float",
                                        "value": 0.000403
                                    }
                                ]
                            }
                        },
                        "Set_LocalTime_(do_not_edit)": {
                            "runAfter": {
                                "UTCOffset": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "LocalTime",
                                        "type": "string",
                                        "value": "@{addhours(utcNow(), int(variables('UTCOffset')))}"
                                    }
                                ]
                            }
                        },
                        "Set_MonthTableName": {
                            "runAfter": {
                                "Get_LastDayOfMonth": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "MonthTableName",
                                        "type": "string",
                                        "value": "@{concat('ANF', addhours(utcNow(), int(variables('UTCOffset')), 'yyyyMM'))}"
                                    }
                                ]
                            }
                        },
                        "Set_SubID": {
                            "runAfter": {
                                "Parse_Workflow_Properties": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "subid",
                                        "type": "string",
                                        "value": "@{split(body('Parse_Workflow_Properties')?['id'],'/')[2]}"
                                    }
                                ]
                            }
                        },
                        "StandardDaily_(do_not_edit)": {
                            "runAfter": {
                                "Initialize_tag_object": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "StandardDaily",
                                        "type": "float",
                                        "value": "@mul(variables('StandardHourly'),24)"
                                    }
                                ]
                            }
                        },
                        "StandardHourly": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "StandardHourly",
                                        "type": "float",
                                        "value": 0.000202
                                    }
                                ]
                            }
                        },
                        "Test_if_Last_Day_of_Month": {
                            "actions": {
                                "Create_CSV_table": {
                                    "runAfter": {},
                                    "type": "Table",
                                    "inputs": {
                                        "format": "CSV",
                                        "from": "@body('Get_Volume_List_from_Table')?['value']"
                                    },
                                    "description": "item()?['property']"
                                },
                                "Create_HTML_table": {
                                    "runAfter": {
                                        "Create_CSV_table": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Table",
                                    "inputs": {
                                        "format": "HTML",
                                        "from": "@body('Get_Volume_List_from_Table')?['value']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_Volume_List_from_Table": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "or": [
                                    {
                                        "equals": [
                                            "@variables('DayOfMonth')",
                                            "@variables('LastDayOfMonth')"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "UTCOffset": {
                            "runAfter": {
                                "UltraHourly": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "UTCOffset",
                                        "type": "string",
                                        "value": "[parameters('UTC Offset')]"
                                    }
                                ]
                            }
                        },
                        "UltraDaily_(do_not_edit)": {
                            "runAfter": {
                                "PremiumDaily_(do_not_edit)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "UltraDaily",
                                        "type": "float",
                                        "value": "@mul(variables('UltraHourly'),24)"
                                    }
                                ]
                            }
                        },
                        "UltraHourly": {
                            "runAfter": {
                                "PremiumHourly": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "UltraHourly",
                                        "type": "float",
                                        "value": 0.000538
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "ANFSBTableConnection": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'ANFSBTableConnection')]",
                                "connectionName": "ANFSBTableConnection",
                                "id": "[reference(concat('Microsoft.Web/connections/', 'ANFSBTableConnection'), '2016-06-01').api.id]"
                            }
                        }
                    }
                }
            }
        }
    ]
}